@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;700 & family= Lexend+Deca & display=swap');
:root{
    --Very_dark_blue: hsl(233, 47%, 7%);
    --Dark_desaturated_blue: hsl(244, 38%, 16%);
    --Soft_violet: hsl(277, 53%, 48%);
    --White: hsl(0, 0%, 100%);
    --Slightly: hsla(0, 0%, 100%, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--Very_dark_blue);
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper{
    background-color: var(--Dark_desaturated_blue);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(444px, 1fr));
    border-radius: 10px;
    overflow: hidden;
    margin: 2rem;
}

.text-component{
    padding: 3rem 5rem 3rem 5rem ;
}

.title{
    font-size: 3rem;
    color: #fff;
    padding: 1.6rem;
    margin: 1rem 0 0 1rem;
}

.title-color{
    color: var(--Soft_violet);
    
}

.sub-title{
    color: var(--Slightly);
    line-height: 3rem;
    font-size: 1.5rem;
    padding:  0 1.6rem;
    margin: 1rem 0 3rem 1rem;
}

.start-box{
    display: flex;
    justify-content: flex-start;
}

.num-h2 {
color: #fff;
padding: 1.6rem 1.6rem 0 1.5rem;
margin: 1rem 5rem 0 1rem;

}

.num-p{
    color: var(--Slightly);
    margin: 1rem 0 0 1rem;
    padding-left: 1.5rem;
}

.img-component img{
    opacity: 60%;
    width: 100%;
}

.img-component{
    background-color: var(--Soft_violet);
}

@media screen and (min-width:375px) and (max-width: 927px){
    .wrapper{
        display: flex;
        flex-direction: column-reverse;
    }

    .start-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

.img-component img{
    background-image: url(../images/image-header-mobile.jpg);
}

    .title{
        font-size: 4rem;
        text-align: center;
    }

    .text-component {
        padding: 3rem 1rem 3rem 1rem;
    }

    .sub-title{
        font-size: 2.5rem;
        text-align: center;
    }

    .num-h2 {
        font-size: 4.5rem;
        margin: 0;
    }
        
    .num-p{
        font-size: 3.8rem;
        margin: 0;
        padding: 0;
    }
}